astroid
cycler
future
hid
hidapi
iso8601
isort
kiwisolver
lazy-object-proxy
libusb
matplotlib
mccabe
numpy
parse
Pillow
pip
pylint
pyparsing
pyserial
python-dateutil
pyyaml
setuptools
six
toml
wheel
wrapt
